/* You can add global styles to this file, and also import other style files */
body,
html {
  min-height: 100%;
  background-color: #dadde6;
}
.btn{
  padding: 2px 12px !important;
}
.row {
  margin: 0 !important;
}

h3 {
  font-family:  Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;

    font-size: 48px;
    line-height: 1;
    letter-spacing: 4px;
}

h2 {
  font-family:  Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
    font-size: 48px;
    line-height: 1;
    letter-spacing: normal;
 }
  h5 {
    font-family:  Arial, Helvetica, sans-serif;
    font-style: normal;
  font-weight: 600;
  line-height: 33px;
    font-stretch: normal;
  letter-spacing: normal;
    font-size: 18px;
    line-height: 1.2;
}
h6 {
  font-family:  Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  //   line-height: 22px,
    font-stretch: normal;
  letter-spacing: normal;

    font-size: 16px;
    line-height: 1.2;
}


.h7 {
  font-family:  Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  //   line-height: 19px,
    font-stretch: normal;
  letter-spacing: normal;

    font-size: 14px;
    line-height: 1.2;
}


.container {
  padding-top: 25px !important;

}

hr {
  margin-top: 0.1rem !important;
  margin-bottom: 0rem !important;
}